{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        },
        "debug": false,
        "corejs": 3
      }
    ]
  ]
}
